################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SessionStats/x64/Debug/SessionStats.tlog
/SessionStats/x64/Debug
/x64/Debug
/SessionStats/x64/Release/SessionStats.tlog
/SessionStats/x64/Release
